* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
}

header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 0.875rem 1.25rem 0.875rem 1.25rem;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header-navbar {
  display: flex;
  align-items: center;
}

.fa-bars {
  font-size: 1.5rem;
}

.fa-brands {
  font-size: 1.4rem;
  color: rgb(4, 157, 246);
}

.header-name {
  font-size: 1.6rem;
  font-weight: 600;
  font-style: normal;
}

/*------ Hero section   ------*/

.hero-section {
  background-image: url("./assets/images/cloud-pulse-hero-image-vertical2.jpeg");
  background-size: cover;
  background-position: center;
  height: 50vh;
  display: flex;
  align-items: center;
}

.hero-sub-section {
  padding: 0 1.5rem 0 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
  top: -5vh;
}

.hero-main-heading,
.hero-sub-heading {
  color: aliceblue;
}

.hero-main-heading {
  font-size: 2.4rem;
}

.hero-button {
  align-self: flex-start;
  padding: 0.5rem 1.5rem;
  border-radius: 0.3rem;
  background-color: blue;
  color: white;
  font-size: 0.9rem;
  border: none;
  font-weight: 600;
  margin-top: 1rem;
}

/*------ Feature section   ------*/

.feature-section {
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: stretch;
}

.feature-main-heading,
.pricing-main-heading {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.feature-card {
  min-height: 7.5rem;
  border-radius: 0.8rem;
  border: 2px solid rgb(244, 239, 239);
  box-shadow: 0 15px 40px -25px rgba(0, 0, 0, 1.2);
  background-color: #ffffff;
  padding: 1rem 5%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.analytics-image,
.basic-image {
  height: 3rem;
  display: flex;
}

.feature-sub-text {
  color: rgb(114, 110, 110);
}

/*------ Pricing section   ------*/

.pricing-section {
  padding: 0 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: stretch;
}

.pricing-card {
  min-height: 7.5rem;
  border-radius: 0.8rem;
  border: 2px solid rgb(244, 239, 239);
  box-shadow: 0 15px 40px -25px rgba(0, 0, 0, 1.2);
  background-color: #ffffff;
  padding: 1rem 5%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.pricing-subheading-section {
  display: flex;
}
.pricing-subheading {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.4rem;
  font-weight: 700;
}
.pricing-text {
  font-weight: 500;
}

.pricing-list {
  list-style-position: inside;
}
.pricing-list {
  font-weight: 400;
}
.pricing-text-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.pricing-amount-section {
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
}
.pricing-amount-section span {
  font-size: 1rem;
}

.pricing-upgrade-button {
  padding: 0.7rem;
  border-radius: 0.3rem;
  background-color: blue;
  color: white;
  border: none;
}
