* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 0.875rem 1.25rem 0.875rem 1.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header-hamberger-menu {
  display: flex;
  align-items: center;
}

.fa-bars {
  font-size: 1.5rem;
}

.fa-affiliatetheme {
  font-size: 1.4rem;
  color: rgb(4, 157, 246);
}

.header-name {
  font-size: 1.6rem;
  font-weight: 600;
  font-style: normal;
}

/*------ Hero section   ------*/

.hero-section {
  background-image: url("./assets/images/cloud-pulse-hero-image-vertical2.jpeg");
  background-size: cover;
  background-position: center;
  height: 50vh;
  display: flex;
  align-items: center;
}

.hero-sub-section {
  padding: 0 1.5rem 0 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
  top: -5vh;
}

.hero-main-heading,
.hero-sub-heading {
  color: aliceblue;
}

.hero-main-heading {
  font-size: 2.4rem;
}

.hero-button {
  align-self: flex-start;
  padding: 0.5rem 1.5rem;
  border-radius: 0.3rem;
  background-color: blue;
  color: white;
  font-size: 0.9rem;
  border: none;
  font-weight: 600;
  margin-top: 1rem;
}

/*------ Feature section   ------*/

.feature-section {
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.feature-sub-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.feature-main-heading,
.pricing-main-heading {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.feature-card {
  min-height: 7.5rem;
  border-radius: 0.8rem;
  border: 2px solid rgb(244, 239, 239);
  box-shadow: 0 15px 40px -25px rgba(0, 0, 0, 1.2);
  background-color: #ffffff;
  padding: 1rem 5%;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}
.feature-text {
  max-width: 23rem;
}

.analytics-image,
.basic-image {
  height: 3rem;
  display: flex;
}

.feature-sub-text {
  color: rgb(114, 110, 110);
}

/*------ Pricing section   ------*/

.pricing-section {
  padding: 0 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: stretch;
}

.pricing-sub-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: stretch;
}

.pricing-card {
  min-height: 7.5rem;
  border-radius: 0.8rem;
  border: 2px solid rgb(244, 239, 239);
  box-shadow: 0 15px 40px -25px rgba(0, 0, 0, 1.2);
  background-color: #ffffff;
  padding: 1rem 5%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.pricing-subheading-section {
  display: flex;
  position: relative;
}
.pricing-subheading {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.4rem;
  font-weight: 700;
}
.pricing-text {
  font-weight: 500;
}

.pricing-list {
  list-style-position: inside;
}
.pricing-list {
  font-weight: 400;
}
.pricing-text-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.pricing-amount-section {
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
}
.pricing-amount-section span {
  font-size: 1rem;
}

.pricing-upgrade-button {
  padding: 0.7rem;
  border-radius: 0.3rem;
  background-color: blue;
  color: white;
  border: none;
}

/*------ Menu section   ------*/

.overlay {
  z-index: 100;
  height: 100vh;
  width: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  right: 0px;
  visibility: visible;
  transition: 0.3s;
}

.menu-page {
  z-index: 200;
  height: 100vh;
  width: 70%;
  background-color: rgb(8, 29, 77);
  position: fixed;
  top: 0px;
  right: 0px;
  transition: transform 0.3s ease-in-out;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  transform: translateX(105%);
}

.is-menu-open {
  transform: translateX(0);
}

.stop-scroll {
  overflow: hidden;
}
.overlay {
  visibility: hidden;
}

.is-overlay-open {
  visibility: visible;
}

.menu-page-heading {
  padding: 1rem 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.menu-page-logo {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.menu-page-name {
  color: #ffffff;
  font-size: 1.3rem;
}

.fa-xmark {
  color: #ffffff;
  font-size: 1.8rem;
}
.menu-page-content {
  padding: 1rem 2rem;
}
.menu-page-content-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
}

.menu-page-content-list a {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
}

.menu-page-button {
  padding: 0 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.menu-page-resources {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.fa-angle-right {
  font-size: 1rem;
}
.header-navbar {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header-navbar-list {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.header-navbar-list a {
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
  font-weight: 700;
}
.fa-angle-down {
  color: white;
  font-size: 1.4rem;
  font-weight: 700;
  position: relative;
  top: 3px;
}

/*------ Media Queries   ------*/

@media (min-width: 760px) {
  .feature-sub-section {
    padding: 0 3rem;
  }
}

@media (min-width: 1023px) {
  .feature-sub-section {
    flex-direction: row;
    padding: 0;
  }
  .feature-card {
    padding: 1rem 2%;
  }
  .pricing-sub-section {
    flex-direction: row;
    gap: 3rem;
  }
  .pricing-card {
    padding: 1rem 3%;
  }
  .header-hamberger-menu,
  .overlay,
  .menu-page {
    display: none;
  }
  header {
    background-color: rgb(20, 20, 72);
    justify-content: space-around;
  }
  .header-name {
    color: white;
  }
  .hero-button {
    margin-top: 0;
  }
}
@media (min-width: 1050px) {
  .pricing-sub-section {
    gap: 6rem;
  }
}

@media (max-width: 1023px) {
  .header-navbar {
    display: none;
  }
}
